<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Info</key>
		<string>~(***_***)~  speaking on martian.</string>
		<key>Name</key>
		<string>Mars</string>
	</dict>
	<dict>
		<key>Info</key>
		<string>Lacks the description field as the Star is hard to exlore.</string>
		<key>Description</key>
		<string>It brings life to all of us. Will people ever evolve to be able to exploit more power of the Sun as we take it from Earth?</string>
		<key>Name</key>
		<string>The Sun</string>
	</dict>
	<dict>
		<key>Countries</key>
		<array>
			<dict>
				<key>States</key>
				<array>
					<dict>
						<key>Info</key>
						<string>Not a part of any U.S. state and is the capital of the Unites States.</string>
						<key>Name</key>
						<string>Washington, D.C.</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>CA</string>
						<key>Cities</key>
						<array>
							<dict>
								<key>Population</key>
								<string>4m</string>
								<key>Area</key>
								<string>1,302 km2</string>
								<key>Name</key>
								<string>Los Angeles</string>
							</dict>
							<dict>
								<key>Info</key>
								<string>Thanks Cupertino for being good motherland for Apple HQ and for the Cupertino Effect :)</string>
								<key>Name</key>
								<string>Cupertino</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>Name</key>
				<string>Unites States</string>
			</dict>
			<dict>
				<key>Description</key>
				<string>To be explored...</string>
				<key>Name</key>
				<string>New Zeland</string>
			</dict>
			<dict>
				<key>Cities</key>
				<array>
					<dict>
						<key>Area</key>
						<string>40+k</string>
						<key>Population</key>
						<string>150+k</string>
						<key>Name</key>
						<string>Chiang Mai</string>
					</dict>
					<dict>
						<key>Population</key>
						<string>75+k</string>
						<key>Name</key>
						<string>Phuket (on Ko Phuket:)</string>
					</dict>
					<dict>
						<key>Area</key>
						<string>22.2 km2</string>
						<key>Population</key>
						<string>100+k</string>
						<key>Name</key>
						<string>Pattaya</string>
					</dict>
					<dict>
						<key>Info</key>
						<string>Grung Thep I love U.</string>
						<key>Full name</key>
						<string>กรุงเทพมหานคร อมรรัตนโกสินทร์ มหินทรายุธยา มหาดิลกภพ นพรัตนราชธานีบูรีรมย์ อุดมราชนิเวศน์มหาสถาน อมรพิมานอวตารสถิต สักกะทัตติยวิษณุกรรมประสิทธิ์</string>
						<key>Area</key>
						<string>1,568k km2</string>
						<key>Population</key>
						<string>8-12+ millions</string>
						<key>Name</key>
						<string>Bangkok</string>
					</dict>
				</array>
				<key>Name</key>
				<string>Thailand</string>
			</dict>
		</array>
		<key>Name</key>
		<string>The Earth</string>
	</dict>
</array>
</plist>
