<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Subitems</key>
		<array>
			<dict>
				<key>Subitems</key>
				<array>
					<dict>
						<key>Subitems</key>
						<array>
							<string>Apple HQ</string>
							<string>Cupertino Effect</string>
						</array>
						<key>Title</key>
						<string>Cupertino</string>
					</dict>
					<string>San Jose</string>
				</array>
				<key>Title</key>
				<string>CA</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>NY</string>
				<key>Subitems</key>
				<array>
					<string>Brooklyn</string>
					<string>Manhattan</string>
				</array>
			</dict>
		</array>
		<key>Title</key>
		<string>USA</string>
	</dict>
	<dict>
		<key>Subitems</key>
		<array>
			<dict>
				<key>Subitems</key>
				<array>
					<string>Kiyv</string>
					<string>Lviv</string>
					<string>Odessa</string>
				</array>
				<key>Title</key>
				<string>Ukraine</string>
			</dict>
			<dict>
				<key>Subitems</key>
				<array>
					<string>Berlin</string>
					<string>Stuttgart</string>
					<string>Frankfurt</string>
				</array>
				<key>Title</key>
				<string>Germany</string>
			</dict>
			<string>Portugal</string>
		</array>
		<key>Title</key>
		<string>Europe</string>
	</dict>
	<dict>
		<key>Subitems</key>
		<array>
			<string>Bangkok</string>
			<string>Chiang Mai</string>
			<dict>
				<key>Subitems</key>
				<array>
					<string>Rawaii</string>
					<string>Phuket town</string>
				</array>
				<key>Title</key>
				<string>Koh Phuket</string>
			</dict>
			<string>Pattaya</string>
		</array>
		<key>Title</key>
		<string>Thailand</string>
	</dict>
</array>
</plist>
